<?xml version="1.0" encoding="UTF-8" ?>
<!-- VERSION -->
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "de.gamemodeon.sb"
	version		= "0.5">
	<preference name="phonegap-version" value="2.9.0" />
	
	<!-- DESCRIPTION -->
	<name>Shoutbox</name>
	<description>
		Die echte, originale, hoch gelobte GMO Shoutbox App!
		Besucht uns auf www.gamemodeon.de
	</description>
	<author href="https://gamemodeon.de/" email="info@gamemodeon.de">
		GameModeOn
	</author>
	
	<!-- IMAGE -->
	<icon src="images/phonegap/icon.png" />
	<gap:splash src="image/phonegap/splash.png" />
	
	<!-- PERMISSION -->
	<preference name="permissions" value="none"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	
	<!-- API ACCESS -->
	<access origin="https://gamemodeon.de" />
	
	<!-- OS SELECTION-->
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
</widget>