<?xml version="1.0" encoding="UTF-8" ?>
<!-- VERSION -->
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "de.gamemodeon.sb"
	versionCode	= "1010102"
	version		= "0.5.2">
	<preference name="phonegap-version" value="2.9.0" />
	
	<!-- DESCRIPTION -->
	<name>Shoutbox</name>
	<description>
		Die echte, originale, hoch gelobte GMO Shoutbox App! Besucht uns auch auf www.gamemodeon.de
	</description>
	<author href="https://gamemodeon.de/" email="info@gamemodeon.de">
		GameModeOn
	</author>
	
	<!-- ICON -->
	<icon src="images/icons/android-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/icons/android-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/icons/android-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<!-- PLUGIN -->
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	
	<!-- PERMISSION -->
	<preference name="permissions" value="none" />
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	
	<!-- WEB ACCESS -->
	<access origin="http://gamemodeon.de" />
	
	<!-- OS SELECTION-->
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
</widget>
