body {
    background-color: black;
    color: #AAAAAA;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 0.9em;
}
.error {
    color: red;
}

/* FORMULAR */
input {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
input[type=submit] {
    border-radius: 5px;
    font-weight: bold;
}

/* DIV */
div {
    display: none;
}

/* MENUBUTTON */
.btnMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #202020;
    border-radius: 5px;
    display: block;
}

/* MENU */
#menu div, #input div {
    display: block;
}
#btnLogout {
    display: none;
}

/* OUTPUT */
.smilie {
    position: relative;
    top: 4px;
}
a:link, a:visited, a:hover, a:active {
    color: #AAAAAA;
    text-decoration: underline;
}